.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.buttonInput {
  width: auto;
  min-width: 132px;
}

.control {
  background-color:#6319ff;
  color: #fff;

  &:disabled {
    border-color: #ddd;
    background-color: transparent;
  }
}

.input {
  padding-right: 10px !important;
  padding-left: 10px !important;
  min-width: 44px;
  height: 44px !important;
  flex: 1 !important;
  text-align: center !important;
}
